<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nouveau lieu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <div class="image-container">
        <img [src]="defaultImage" alt="" />
        <div class="buttons-container">
          <ion-button color="dark" (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>  
          </ion-button>
          <ion-button color="dark">
            <ion-icon name="photos"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card>

    <ion-list lines="none">
      <!--<ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-toggle [(ngModel)]="geoloc"></ion-toggle>
        <ion-label>Lier ma position gps</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input [(ngModel)]="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea row="10" cols="3" [(ngModel)]="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select>
          <ion-select-option value="paysage">Paysage</ion-select-option>
          <ion-select-option value="architecture">Architecture</ion-select-option>
          <ion-select-option value="autre">Autre</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="dark" (click)="valider()"> Valider </ion-button>
      <ion-button color="dark" (click)="save()"> Enr. infos </ion-button>
      <ion-button color="dark" (click)="view()"> Voir infos </ion-button>
    </ion-list>
</ion-content>
